html, body {
  font-family: Open Sans;
  width: 100%;
  margin: 0;
  color: #444444;
  background: #f9f9f9;
}

@font-face {
  font-family: 'Spectral SC', serif;
  font-family: 'Open Sans', sans-serif;
}

header, .header {
  font-family: Spectral SC;
  font-size: 4rem;
  text-align: center;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 0;
}

footer {
  margin: 3em 0;
}

a {
  text-decoration: none;
  color: #c93030 !important;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  background: #ffffff;
  border-left: .5rem solid;
  border-color: #ed5565;
  box-shadow: 0.1rem 0.1rem 1rem #ccc;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

.center {
  text-align: center;
}

.info {
  font-size: 0.6rem;
  color: #000000;
}

.info a {
  color: #000000;
}

.postList ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.horizontalList ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.horizontalList li {
  float: left;
  text-align: center;
  font-size: 15px;
  padding: 0 15px;
  height: 16px;
  line-height: 16px;
}

.viewport {
  width: 700px;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
}

#banner {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1rem;
  background-color: #ed5565;
}

#body {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }

  #body {
    width: calc(100% - 40px);
    margin 0 auto;
  }
}
