html, body {
  font-family: Open Sans;
  font-size: 18px;
  width: 100%;
  margin: 0;
  color: #444444;
  background: #f9f9f9;
}

@font-face {
  font-family: 'Spectral SC', serif;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: Spectral SC;
  text-align: center;
  color: #000000;
  font-size: 4em;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.info {
  font-size: 0.6em;
  color: #000000;
  text-align: center;
}

.return {
  margin-bottom: 2em;
}

.return a {
  color: #000000;
  font-size: 0.6em;
}

.postList ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.horizontalList ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.horizontalList li {
  float: left;
  text-align: center;
  font-size: 15px;
  padding: 0 15px;
  height: 16px;
  line-height: 16px;
}

#banner {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1em;
  background-color: #ed5565;
}

#body {
  width: 700px;
  margin: 0 auto;
}

#home {
  padding: 20px 0;
}

#contact{
  text-align: center;
}

#mainIndex {
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }

  h1 {
    font-family: Spectral SC;
    text-align: center;
    color: #000000;
    font-size: 50px;
  }

  #body {
    width: calc(100% - 40px);
    margin 0 auto;
  }
}
