html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.horizontalList {
  list-style-type: none;
  display: table;
  padding: 0;
  margin: 0 auto;
}

ul.horizontalList li {
  float: left;
  width: 8rem;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  float: left;
  width: 536px !important;
  height: 320px;
  margin: 0;
}

#viewport {
  overflow: visible;
  position: relative;
  width: 672px;
  height: 320px;
}

#contact {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-decoration: underline;
}

#sidebar {
  position: absolute;
  right: 0;
  width: 130px;
  height: 320px;
  overflow: hidden;
}

#sidebar .top {
  fill: #f8f8f8;
}

#sidebar .left {
  fill: #f2f2f2;
}

#sidebar .right {
  fill: #eeeeee;
}

#sidebar .path {
  stroke: #dddddd;
  stroke-width: 1px;
  stroke-dasharray: 300;
  fill-opacity: 0;
  transition: 1s linear;
  animation:
    draw 1s linear forwards,
    color 0.5s 0.5s linear forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes color {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
