@font-face {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Crimson Text', serif;
}

body {
  font-family: Open Sans;
  margin: 0;
  padding-bottom: 4rem;
  background: #f9f9f9;
}

body * {
  max-height: 1000rem;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

/* LaTeX is weird if you hide overflow */
body .math * {
  overflow: visible;
}

a {
  color: #444444;
  opacity: 0.5;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

h1 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article {
  padding-bottom: 1rem;
}

.pane {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pane:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.content {
  display: block;
  margin: 4rem auto;
  padding: 5%;
  width: 70%;
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}

.hidden {
  max-height: 0;
  padding: 0;
  border: transparent;
}

#main h1 {
  font-family: Crimson Text;
  font-weight: 400;
}

#menubar {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

#menubar * {
  display: block;
}

#menubar .icon {
  fill: #cccccc;
  width: 2rem;
}

#menubar .icon:hover, #menubar .icon.clicked {
  fill: #000000;
}

#menu {
  margin: 0 1rem;
}

#menu nav {
  position: absolute;
  margin-top: 0.5rem;
  background: #ffffff;
  min-width: 15rem;
}

#menu nav a {
  padding: 0.5rem 1rem;
}

#menu nav a:hover {
  background: #f0f0f0;
}
