<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    $if(description)$
      <meta name="description" content="$description$">
    $else$
      <meta name="description" content="Carpe noctem.">
    $endif$
    <title>$title$ | Nicholas Truong</title>
  </head>
  <body>
    <div id="banner"></div>
    <div id="body">
      $body$
    </div>
  </body>
</html>
